{% extends "threads/base.html" %}
{% block page_header %}
<div class="position-relative">
    <div class="container-fluid text-center position-absolute">
        {% if user.is_authenticated %}
        <h1 class="display-1">Welcome, {{user.username}}!</h1>
        <p class="lead"> Have fun on the page :)</p>
        <a class="btn btn-primary btn-lg" href="{% url 'threads:topics'%}">Discover Topics &raquo;</a>
        {% else %}
        <h1 class="display-1">Welcome to FunWebapp!</h1>
        <p class="lead"> Have a conversation about various topics with other users and checkout our other features (Coming soon) </p>
        <p> Make an account to access all of our features! </p>
        <a class="btn btn-primary btn-lg" href="{% url 'accounts:register'%}">Register &raquo;</a>
        {% endif %}
    </div>
</div>

{% endblock page_header %}